STREAMNEST_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
STREAMNEST_MAX_DURATION_SECONDS=14400
STREAMNEST_MAX_FILE_SIZE_BYTES=8589934592
STREAMNEST_MAX_BILIBILI_FILE_SIZE_BYTES=8589934592
STREAMNEST_MAX_IMAGE_SIZE_BYTES=52428800
STREAMNEST_TICKET_TTL_SECONDS=900
STREAMNEST_RESOLVE_TIMEOUT_SECONDS=45
STREAMNEST_MAX_CONCURRENT_DOWNLOADS=2
STREAMNEST_DOWNLOAD_RATE_LIMIT_PER_HOUR=120
